<div ng-app="adRep" ng-controller="AdsListController">
<header class="ui-header ui-header-positive ui-border-b">
    <h1>列表</h1><button class="ui-btn" ng-click="userLogout()">退出</button>
</header>
<footer class="ui-footer ui-footer-positive ui-border-t" >
    <ul class="ui-tiled ui-row-flex">
        <li ng-repeat="footItem in adsTypesData" ng-click="onTypeChanged($index)"><div id="tabType_{{footItem.typeIndex}}" class="bottom-bar-selbg" ng-show="footItem.isSel"></div><div style="height: 10px">&nbsp;</div><i>{{footItem.typeName}}</i></li>
    </ul>
</footer>
<section class="ui-container">
  <div class="ui-form ui-border-t">
      <ul class="ui-row">
          <li class="ui-col ui-col-25">
              <div class="ui-flex ui-flex-pack-center"><label>{{filterTypeLabel}}</label></div>
          </li>
          <li class="ui-col ui-col-75">
              <div class="ui-select">
                  <select ng-model="selectedFilterItems" ng-change="filterTypeChenged()">
                      <option ng-repeat="item in filterTypeList">{{item.label}}</option>
                  </select>
              </div>
          </li>
      </ul>

      <!--<label>{{filterTypeLabel}}</label>-->
      <!--<div class="ui-select">-->
          <!--<select>-->
              <!--<option ng-repeat="item in filterTypeList" ng-click="filterClick($index)">{{item.label}}</option>-->
          <!--</select>-->
      <!--</div>-->
  </div>
    <ul class="ui-list ui-list-link ui-border-tb ui-list-active">
        <li class="ui-border-t" ng-repeat="item in adsRecords track by $index" ng-click="adsListClick($index)">
            <div class="ui-list-thumb">
                <span style="background-image:url(http://placeholder.qiniudn.com/100x100)"></span>
            </div>
            <div class="ui-list-info">
                <h4 class="ui-nowrap">{{item.title}}</h4>
            </div>
        </li>
    </ul>
</section>
</div>